@using WebApplicationGym.Models.Gym
@model List<ExerciseGym>
@{
    ViewData["Title"] = "List";
}

<h1>Twoje ćwiczenia</h1>
<head>
    <link rel="stylesheet" href="~/css/HomeCSS.css" type="text/css">
</head>

<ul>
   

    @foreach (var exerciseList in Model)
    {  
        <li>
        <span>@exerciseList.Name</span>
        <span>@exerciseList.Description</span>
        <span>@exerciseList.SeriesOfExercise</span>
            <a href="@Url.Action("Details","Exercise",new {Id=exerciseList.Id})">Szczegóły</a>
            @using (@Html.BeginForm("Delete", "Exercise", FormMethod.Post))
            {
                <input type="hidden" name="Id" value="@exerciseList.Id" />

                <button type="submit">Usuń</button>
            }
        </li>
    }

</ul>

