@using WebApplicationGym.Models.Gym
@model List<DietGym>
@{
    ViewData["Title"] = "List";
}

<h2>Twoje Diety</h2>
<head>
    <link rel="stylesheet" href="~/css/HomeCSS.css" type="text/css">
</head>
<ul>
    @if (Model != null)
    {
        @foreach (var diet in Model)
        {
            <li>
                <span>@diet.Name</span>
                <span>@diet.Description</span>
                <span>@diet.Calories</span>
                <a href="@Url.Action("Details","Diet",new {Id=diet.Id})">Szczegóły</a>
                @using (@Html.BeginForm("Delete", "Diet", FormMethod.Post))
                {
                    <input type ="hidden" name="Id" value="@diet.Id" />

                    <button type ="submit">Usuń</button>
                }

            </li>
        }
    }
    else
    {
        <p>Brak danych do wyświetlenia.</p>
    }
</ul>

